<table mat-table [dataSource]="posts" class="mat-elevation-z8" style="display:none">

    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

    <!-- UserID Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{ element.userId }} </td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef> User ID </th>
        <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{ element.title }} </td>
    </ng-container>

    <!-- Body Column -->
    <ng-container matColumnDef="body">
        <th mat-header-cell *matHeaderCellDef> Body </th>
        <td mat-cell *matCellDef="let element"> {{ element.body }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- <div *ngIf="user">
    <ul>
        <li>{{ user.id }}</li>
        <li>{{ user.name }}</li>
        <li>{{ user.email }}</li>
        <li>{{ user.created_at }}</li>
    </ul>
</div> -->

<!-- <mat-card class="example-card" *ngFor="let comment of comments">
    <mat-card-header>
        <mat-card-title>{{ comment.name }}</mat-card-title>
        <mat-card-subtitle>{{ 'PostId : ' +  comment.postId }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{ comment.body }}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card> -->

<!-- <mat-card class="example-card"  *ngFor="let photo of photos">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ photo.title }}</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ photo.url }}" alt="Photo of a Shiba Inu">
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card> -->